*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(185, 75%, 39%);
}
main{
    min-height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(227, 10%, 46%);
}
h1{
    color: hsl(229, 23%, 23%); 
}
hr{
    border: 0;
    border-top:1px solid hsl(0, 0%, 75%);
}
.bg{
    overflow: hidden;
    position:absolute;
    min-width: 100%;
    min-height: 100vh;
}
.bg-top{
    position: absolute;
    top:-70%;
    left: -20%;
}
.bg-bottom{
    position: absolute;
    right: -17%;
    bottom: -70%;
}
.content{
    min-width: 27%;
    background-color: white;
    z-index: 1;
    border-radius: 1rem;
}
.pic{
    text-align: center;
    position: relative;
    padding-bottom: 4rem;
}
#card{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}
#victor{
    width: 7rem;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 5px;
}
.person-info{
    text-align: center;
    padding-bottom: 30px;
}
#name{
    font-weight: 700;  
    padding-bottom: 10px;
    font-size: 1.5rem;
}
#age{
    padding-left: 5px;
    color: hsl(227, 10%, 46%);
    font-weight: normal;
}
.papularity{
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0 30px 0;
}
.papularity-items{
    text-align: center;
}
.papularity-items h1{
    font-size: 1rem;
}
.papularity-items p{
    font-size: 0.7rem;
}
.attribution{
    /* z-index: 1; */
    margin: 30px;
    line-height: 1.5;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}
.attribution a{
    color: black;
    padding-left:5px;
}
